<!-- navbar -->
<div class="g-navbar">
  <div class="nav full-w">
    <a class="nav-item" href="/subject/">
      <span>专题</span>
    </a>
    <a class="nav-item">
      <span>随笔</span>
    </a>
  </div>
</div>