body {
  position: relative;
  min-height: 100%;
  font-size: 14px;
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
  line-height: 2;
  -webkit-tap-highlight-color: transparent;
  margin: 0px;
  color: #363636;
  background-color: #f7f9fe;
}

#root,
.App {
  min-height: 100vh;
}

.g-w {
  width: 1400px;
  margin: 0 auto;
}

.header {
  height: 64px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 3000;
  height: 64px;
  box-shadow: inset 0 -1px 0 0 var(#eaeaea);
  transform: translateZ(0);
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0,0%,100%,.8);
}

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar span {
  display: inline-block;
  margin-right: 16px;
  line-height: 24px;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 16px;
  border-radius: 16px;
  font-weight: 600;
}

.navbar span:hover {
  color: #fff;
  background-color: #425aef;
}

.main {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  min-height: calc(100vh - 64px - 40px);
}

.side {
  width: 300px;
  margin-left: 20px;
  background-color: #fff;
  min-height: 100%;
  background-color: #fff;
  box-shadow: 0 8px 16px -4px #2c2d300c;
  padding: 1rem 2rem;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #e3e8f7;
  animation: slide-in 0.6s 0.1s backwards;
}

.content {
  min-height: 100%;
  flex: 1;
  background-color: #fff;
  box-shadow: 0 8px 16px -4px #2c2d300c;
  padding: 1rem 2rem;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #e3e8f7;
  animation: slide-in 0.6s 0.1s backwards;
}

.tag {
  display: inline-block;
  margin-right: 16px;
  line-height: 24px;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 16px;
  border-radius: 16px;
}

.tag:hover,
.tag.is-active {
  color: #fff;
  background-color: #425aef;
}
